.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/279303903_137791628822367_5724123893797119359_n.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 549px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 193px 20px 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 453px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin: 60px 0 50px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 347px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 125px;
    margin-bottom: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 260px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 13px;
    margin-left: -13px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 164px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 384px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 12px;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 396px;
}

.u-section-2 .u-container-layout-1 {
  padding: 14px 30px 15px;
}

.u-section-2 .u-image-1 {
  width: 243px;
  height: 243px;
  background-image: url("images/273289106_106432238624973_1805173006187200212_n.jpg");
  background-position: 50% 50%;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 29px auto 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 462px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 13px 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.125rem;
  margin: 16px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 326px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 327px;
  }

  .u-section-2 .u-image-1 {
    width: 281px;
    height: 281px;
    margin-left: 19px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 381px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 262px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-image-1 {
    width: 216px;
    height: 216px;
    margin-left: auto;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 622px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 154px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 328px;
    margin: 15px 0 23px auto;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 294px;
  }

  .u-section-2 .u-image-1 {
    width: 241px;
    height: 241px;
    margin-top: 15px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 395px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 0;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 29px;
  }
}.u-section-3 {
  background-image: linear-gradient(#f5f7fa, #adf6f2);
}

.u-section-3 .u-sheet-1 {
  min-height: 332px;
}

.u-section-3 .u-text-1 {
  margin: 50px 0 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  margin: 22px 0 54px 20px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1073px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 776px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 599px;
  }

  .u-section-3 .u-text-2 {
    font-size: 0.875rem;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 745px;
}

.u-section-4 .u-layout-wrap-1 {
  width: 1108px;
  margin: 35px auto 60px -20px;
}

.u-section-4 .u-image-1 {
  pointer-events: auto;
  background-image: url("images/4quadrant_ymwikt.png");
  background-position: 50% 50%;
  min-height: 652px;
  animation-duration: 1000ms;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-layout-cell-2 {
  pointer-events: auto;
  min-height: 652px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-4 .u-text-1 {
  font-weight: normal;
  margin: 75px -33px 0 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.25rem;
  margin: 27px -34px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 646px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-image-1 {
    min-height: 553px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 553px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 27px;
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 35px;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 887px;
  }

  .u-section-4 .u-image-1 {
    min-height: 639px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 807px;
    margin: 20px auto 0 0;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 892px;
  }

  .u-section-4 .u-layout-wrap-1 {
    min-height: 544px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-1 {
    min-height: 647px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 440px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 0;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 972px;
  }

  .u-section-4 .u-image-1 {
    min-height: 431px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 495px;
  }

  .u-section-4 .u-text-1 {
    font-weight: 700;
    margin-top: -13px;
  }

  .u-section-4 .u-text-2 {
    margin-right: -10px;
    margin-left: 10px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 646px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  margin: 60px 0 0;
}

.u-section-5 .u-text-2 {
  line-height: 2;
  font-size: 1.5rem;
  margin: 0 0 0 10px;
}

.u-section-5 .u-btn-1 {
  border-style: none;
  font-size: 1.875rem;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
  font-weight: 700;
  margin: 60px auto;
  padding: 22px 41px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    width: auto;
    margin-left: 26px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-1 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1119px;
  }

  .u-section-5 .u-btn-1 {
    font-size: 0.875rem;
    margin-top: 36px;
    margin-left: 0;
    margin-right: 0;
    padding-right: 9px;
    padding-left: 8px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 47px;
}.u-section-7 .u-sheet-1 {
  min-height: 480px;
}

.u-section-7 .u-text-1 {
  margin: 0 0 60px;
}